.playlist-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .playlist-item {
        margin: 1%;
        width: 25%;
background-color: #2C3333;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .playlist-image {
            height: 80px;
            width: 80px;
        }

        .playlist-title {
            color: white;
            font-size: 1rem;
            cursor: pointer;

        }
    }
}