
*{
    margin: 0;
    padding: 0;
}
/* @media  screen and (max-width:768px) {
    .home{
        display: flex;
        flex-direction: row-reverse;
    }
    .content{
        font-size: 1rem;
        color: black;
    }
    
} */