.landing-page-container {
    display: flex;
    height: calc(100vh - 70px);
    justify-content: center;
    align-items: center;

    .landing-page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       

        .main-info {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .info {
                padding: 10px 0;
                @media screen and (max-width:768px) {
                    font-size: 1rem;
                    font-weight: bold;
                }
            }

            .btn-box {
                display: flex;
                justify-content: center;
                align-items: center;
            }

        }

        .image {
            .relax-image {
                width: 600px;
                height: 600px;
                @media screen and (max-width:768px) {
                    width: 300px;
                    height: 300px;
                }
            }
        }
        @media screen and (max-width:768px) {
            flex-direction: column;
            // margin: 20%;
        }

    }
}